{% extends '../base_administracion.html' %}

{% block titulo %}Editar categria{% endblock%}

{% block contenido %}
<h1 class="mt-4">Categorias cursos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar Categoria</li>
</ol>

<div class="card">
    <div class="card-header">Edicion de categoria</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row mt-3">
                <div class="col-12">
                    <input type="submit" value="Guardar" class="btn btn-success">
                    <a href="javascript:windows.history.go(-1)" class="btn btn-secondary">Cancelar</a>        
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}